i {
    font-size: 100px;
}

h1, .img{
    text-align: center;
    margin: 0 auto;
    align-items: center;
}

.heading {
    font-size: 100px;
}

#middle {
    border-left: 1px solid black;
    border-right: 1px solid black;
}