i {
    font-size: 100px;
}

h1, .img{
    text-align: center;
    margin: 0 auto;
    align-items: center;
}

img {
    width: 60%;
}

.heading, i {
    font-size: 5vw;
}

h2 {
    font-size: 3vw;
}

#middle {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

hr {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

@media screen and (max-width: 770px) {
    #middle {
        border-left: none;
        border-right: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
}